<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${site.title}"></title>
    <script src="https://cdn.jsdmirror.com/npm/jquery@3.5.1/dist/jquery.min.js" type="application/javascript"></script>
    <link href="https://cdn.jsdmirror.com/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}" type="text/css"
        rel="stylesheet">
</head>

<body th:with="user_login = ${#authentication.name != 'anonymousUser'}">
    <!-- 页面背景 -->
    <th:block th:replace="~{fragments/banner :: banner}"></th:block>

    <!-- 顶部导航 -->
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <!-- 页面内容 -->
    <div class="container" style="margin-top:10vh; position: relative; z-index: 100;">
        <h2 class="title" th:text="${theme.config.style.h2_title != '' ? theme.config.style.h2_title : site.title}">
        </h2>
        <p class="content" th:text="${theme.config.style.yiyan != '' ? theme.config.style.yiyan : site.subtitle}"></p>

        <!--搜索框-->
        <div id="search" class="s-search" role="search" aria-label="搜索引擎">
            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a s-current" style=" margin-top: 50px;">
                    <ul th:with="search_links = ${theme.config.search.search_links}" class="search-type"
                        role="radiogroup" aria-label="选择搜索引擎">
                        <th:block th:each="search_links : ${search_links}">
                            <li>
                                <input hidden="" checked="" type="radio" name="type"
                                    th:id="'type-' + ${search_links.id}" th:value="${search_links.url}"
                                    th:data-placeholder="${search_links.placeholder}" />
                                <label th:for="'type-' + ${search_links.id}" style="font-weight:600">
                                    <th:block th:utext="${search_links.icon}"></th:block>
                                    <span th:style="'color:'+ ${search_links.color}" th:text="${search_links.name}">
                                    </span>
                                </label>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <form action="https://www.bing.com/search?q=" method="get" th:target="${theme.config.search.search_target}" id="super-search-fm">
                <input type="text" id="search-text" placeholder="搜索一下" style="outline:0"
                    autocomplete="off" aria-label="搜索内容" />
                <button class="submit" type="submit" aria-label="提交搜索">
                    <svg style="width: 22px; height: 22px; margin: 0 20px 0 20px; color: #fff;" class="icon"
                        aria-hidden="true" viewBox="0 0 1024 1024">
                        <path
                            d="M950.820202 899.620202l-168.210101-168.080808c64.646465-74.731313 100.072727-169.115152 100.072727-268.8 0-109.89899-42.79596-213.20404-120.50101-290.779798S581.171717 51.329293 471.40202 51.329293c-109.89899 0-213.20404 42.79596-290.779798 120.50101-77.705051 77.705051-120.50101 181.010101-120.50101 290.779798 0 109.89899 42.79596 213.20404 120.50101 290.779798 77.705051 77.705051 181.010101 120.50101 290.779798 120.50101 90.763636 0 177.00202-29.220202 248.113132-83.135353l170.149494 170.149495c8.40404 8.40404 19.523232 12.670707 30.642425 12.670707s22.109091-4.266667 30.642424-12.670707c16.808081-16.937374 16.808081-44.347475-0.129293-61.284849z m-804.20202-437.010101c0-179.070707 145.713131-324.654545 324.654545-324.654545 179.070707 0 324.654545 145.713131 324.654546 324.654545 0.129293 179.070707-145.454545 324.783838-324.525253 324.783838S146.618182 641.680808 146.618182 462.610101z m0 0"
                            fill=""></path>
                    </svg>
                </button>
                <span></span>
                <ul id="word" style="display: none;" role="listbox" aria-label="搜索建议"></ul>
            </form>
        </div>

        <!-- 代码注入位置1 - 搜索栏下方 -->
        <th:block th:utext="${theme.config.html_inject.html_inject_1}"></th:block>

        <!-- 导航列表 -->
        <th:block th:each="group : ${linkFinder.groupBy()}"
                  th:if="${#annotations.getOrDefault(group, 'show_on_hellopage', 'true') == 'true' &&
                  (#annotations.getOrDefault(group, 'login_visible_group', 'false') != 'true' ||
                  (#annotations.getOrDefault(group, 'login_visible_group', 'false') == 'true' && user_login))}">

            <ul class="mylist row" th:if="${#lists.size(group.links) > 0}">
                <li class="title" th:if="${group.spec.displayName != ''}">
                    <th:block th:utext="${#annotations.getOrDefault(group, 'icon', '')}"></th:block>
                    <span th:text="${group.spec.displayName}"></span>
                </li>
                <li class="col-3 col-sm-3 col-md-3 col-lg-1" th:each="link : ${group.links}" :key="i"
                    th:with="accessState = ${link.status?.verification?.access?.state?.name()},
                             showLinkStatus = ${theme.config.style.show_link_status == 'true'}"
                    th:classappend="${showLinkStatus and accessState == 'INACCESSIBLE'} ? ' link-offline'"
                    th:if="${#annotations.getOrDefault(link, 'login_visible_link', 'false') != 'true' ||
                    (#annotations.getOrDefault(link, 'login_visible_link', 'false') == 'true' && user_login)}">
                    <a rel="nofollow" th:with="to_post_radio = ${#annotations.get(link, 'to_post_radio')},
                                 to_post = ${#annotations.get(link, 'to_post')},
                                 shouldLinkToPost = ${to_post_radio == 'true' and to_post != null and to_post != ''}"
                        th:href="${shouldLinkToPost ? postFinder.getByName(to_post).status.permalink : link.spec.url}"
                        th:target="${shouldLinkToPost ? '' : '_blank'}">
                        <th:block th:if="${#annotations.getOrDefault(link, 'custom_icon', 'false') == 'true'}"
                            th:utext="${#annotations.get(link, 'custom_icon_html')}"></th:block>
                        <th:block th:unless="${#annotations.getOrDefault(link, 'custom_icon', 'false') == 'true'}">
                            <img th:src="${link.spec.logo}" th:alt="${link.spec.displayName}" />
                        </th:block>
                        <span th:text="${link.spec.displayName}"></span>
                    </a>
                    <i class="link-status-dot online" th:if="${showLinkStatus and accessState == 'ACCESSIBLE'}"
                        title="在线" aria-label="在线"></i>
                    <i class="link-status-dot offline" th:if="${showLinkStatus and accessState == 'INACCESSIBLE'}"
                        title="离线" aria-label="离线"></i>
                </li>
            </ul>
        </th:block>

        <!-- 公共脚本 -->
        <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

        <!-- 代码注入位置2 - 页面底部 -->
        <th:block th:utext="${theme.config.html_inject.html_inject_2}"></th:block>

        <!-- 页脚 -->
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>

</body>

</html>
